<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Our Products</title>

    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}" />
</head>
<body>
<nav>
    <ul>
        <li><a href="productList.html" th:href="@{/}">Products</a></li>
        <li><a href="shoppingCart.html" th:href="@{/shoppingCart}">Shopping Cart <span>(1)</span></a></li>
    </ul>
</nav>

<h1>Our Products</h1>

<div class="product">
    <div class="buy">
        <div class="price">Price: <span>$403.57</span></div>
        <a href="shoppingCart.html">Add to Cart</a>
    </div>
    <img src="../static/images/speed_reducer.png" />
    <h2>Right-Angle Speed Reducer</h2>

    <p class="sumary">Shaft Input, 5:1 Ratio, 1.33" Center</p>
    <p>Transmit motion at a 90° angle while reducing speed and increasing torque. Speed reducers accept clockwise or counterclockwise input rotation. They require a coupling (not included) to connect to your motor.</p>
    <p>Optional mounting bases allow you to mount speed reducers to machinery. They come with four bolts.</p>

</div>

<div class="product">
    <div class="buy">
        <div class="price">Price: <span>$103.94</span></div>
        <a href="shoppingCart.html">Add to Cart</a>
    </div>

    <img src="../static/images/soldering_iron.png" />
    <h2>Pistol-Grip Soldering Iron</h2>

    <p class="sumary">with Built-in Conical Tip, 150/400 Watts</p>
    <p>Pull the trigger for instant heat; release it and the gun quickly cools. The tip is built into the heating element.</p>

</div>

</body>
</html>