<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>

    <link rel="stylesheet" href="../static/css/styles.css" />
</head>
<body>
<nav>
    <ul>
        <li><a href="productList.html">Products</a></li>
        <li><a href="shoppingCart.html">Shopping Cart <span>(1)</span></a></li>
    </ul>
</nav>

<h1>Your Cart</h1>

<table>
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th></th>
    </tr>
    <tr>
        <td>Right-Angle Speed Reducer</td>
        <td>$403.57</td>
        <td>
            <a href="shoppingCart.html">
                <img src="../static/images/delete.png" title="Remove From Cart"/>
            </a>
        </td>
    </tr>
</table>


</body>
</html>